@import url(./reset.css);


:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
    --app-dark-grey: #3a434d;
    --app-light-grey: #6c7e90;
}

body {
    background-color: #f2fffcff;
    transition: all 0.25s ease-in-out;
}

.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}




/* ----------------------------------------------- */
/*               HERO BANNER                       */
/* ----------------------------------------------- */

.hero-banner {
    background-image: url(../media/about-main-img.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
}

.overlap-hero-banner {
    width: 100%;
    height: 100vh;
    background-color: rgb(82 41 124/0.3);
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px -16px 10px -10px;
}

/* ----------------------------------------------- */
/*               HEADER                       */
/* ----------------------------------------------- */
header {
    width: 100%;
    height: 56px;
    display: flex;
    background-color: rgb(53 26 79/0.7);
    position: fixed;
}

.flexbox {
    display: flex;
}

.heading h1 {
    color: #f0f2f4;
    font-size: 30px;
}

.heading {
    margin: 10px 0;
}

nav {
    margin: 20px 0;
}

.heading,
nav {
    width: 50%;
}

nav ul {
    text-align: right;
}

nav ul li {
    display: inline;
    font-size: 20px;
}

header ul li a {
    text-decoration: none;
    color: #fafafa;
    transition: color 0.25s ease-in-out;
}

header nav ul li a:hover {
    color: #fafafa;
    box-shadow: 0px 1px 0px #fafafa;
    transition: box-shadow 0.25s ease-in-out;
}

nav li+li {
    margin-left: 10px;
}

.bar-menu {
    color: #fafafa;
    display: none;
}

@keyframes trans {
    from {
        opacity: 0;
        transform: translatey(40px);
    }

    to {
        opacity: 1;
        transform: translatey(0px);
    }
}





/* -------------------------------------MAIN CONTENT----------------------------------- */

div .title {
    margin-inline: auto;
    color: #fafafa;
    text-decoration: solid;
    text-shadow: 0px 2px 2px #352a4f;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: trans 0.5s ease-in;
}

div .title h1 {
    font-size: 40px;
    font-weight: 600;
}

div .title p {
    font-size: 25px;
}

button {
    width: 120px;
    height: 46px;
    background-color: #042a46;
    border: 1px solid var(--app-light-grey);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3px;
    transform: translateX(-10px);
    transition: all 0.5s ease-in-out;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: var(--app-light-grey);
    border: 1px solid var(--app-dark-grey);
    transition: all 0.1s ease-in-out;
}

/* -------------------animated down arrow */

.down-arrow {
    position: absolute;
    top: calc(100vh - 80px);
    left: 50%;
    width: 0;
    height: 34px;
    border: 2px solid;
    border-radius: 2px;
    animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: 20px;
    }

    100% {
        margin-top: 0;
    }
}

/* -------------------about section */

.about {
    margin-top: 20px;
}

.about h1 {
    font-size: 26px;
}

.about p {
    font-size: 20px;
}

.about p+p {
    margin-top: 10px;
}

/* -------------------achievements section */

.achievements {
    margin-top: 20px;
    background-color: var(--app-light-grey);
}

.achievements ul li {
    font-size: 20px;
}

.achievements p {
    font-size: 20px;
}

.one {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
}

.one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.two img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.two {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

img {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
}

/* -------------------contact section */
.contact {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}



.contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.achievements ul li {
    font-size: 30px;
}

.achievements p {
    font-size: 30px;
}

.contact h2 {
    font-size: 30px;
}

.contact p {
    font-size: 26px;
}

.contact p+p {
    margin-top: 5px;
}






/* -----------------------------------FOOTER-------------------------------------- */

footer {
    margin-top: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -26px 30px -10px, rgba(0, 0, 0, 0.1) 0px -16px 10px -10px;

}

.footer-nav {
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(-10px);
    transition: all 0.5s ease-in-out;
}



footer ul {
    display: flex;
    flex-direction: row;
}

footer ul li {
    color: #f0f2f4;
}

footer ul li+li {
    margin-left: 10px;
}

footer ul li a {
    text-decoration: none;
    color: var(--app-light-grey);
    transition: color 0.25s ease-in-out;
}

.twitter:hover {
    color: #00acee;
}

.github:hover {
    color: #000000;
}

.linkedin:hover {
    color: #0e76a8;
}

/* ----------------------------------------------- */
/*               Media quiries                     */
/* ----------------------------------------------- */
@media screen and (max-width: 480px) {
    nav {
        display: none;
    }

    div .bar-menu {
        display: inline;
        text-align: right;
        font-size: 20px;
        width: 50%;
        margin: 20px 0;
    }

    .heading {
        margin: 20px 0;
    }

    .heading h1 {
        font-size: 20px;
    }

    .achievements ul li {
        font-size: 15px;
    }

    .achievements p {
        font-size: 15px;
    }

}

@media screen and (max-width: 760px) {
    .heading {
        margin: 15px 0;
        width: 80%;
    }

    .heading h1 {
        font-size: 25px;
    }

    nav {
        display: none;
    }

    div .bar-menu {
        display: inline;
        text-align: right;
        font-size: 20px;
        width: 20%;
        margin: 20px 0;
    }

    .achievements ul li {
        font-size: 20px;
    }

    .achievements p {
        font-size: 20px;
    }
}